<%- include("header") -%>

<h1 id="title">Lemon's Video Game Database</h1>
<img src="walk.gif"> <!-- Replace with different pic sometime -->
<p>A website stocked with information about various games.</p>
<p>Mostly used as a personal resource for Ryan to use while playing these games.</p>

<%- include("footer") -%>