<%- include("header") -%>

<h1 id="title">Lemon's Video Game Database</h1>
<img src="gaming.gif">
<p>Welcome! :)</p>
<p>This is a website stocked with information about various video games.</p>
<p>Mainly used as a personal resource for Ryan to use while playing them.</p>

<%- include("footer") -%>