<%- include("header") -%>

<h1 id="title">Mario Kart 8 Course Picker</h1>

<img id="mk-img" src=<%=imgUrl%>>

<form action="/mario-kart" method="post">
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Generate</button>
    </div> 
</form>

<%- include("footer") -%>