<%- include("header") -%>

<h1 id="title">Valorant Maps</h1>

<p>
    <a href="/val-maps/0">
        <button class="btn btn-secondary">Ascent</button>
    </a>
    
    <a href="/val-maps/1">
        <button class="btn btn-secondary">Bind</button>
    </a>
    
    <a href="/val-maps/2">
        <button class="btn btn-secondary">Breeze</button>
    </a>
    
    <a href="/val-maps/3">
        <button class="btn btn-secondary">Fracture</button>
    </a>
    
    <a href="/val-maps/4">
        <button class="btn btn-secondary">Haven</button>
    </a>

    <a href="/val-maps/5">
        <button class="btn btn-secondary">Icebox</button>
    </a>
    
    <a href="/val-maps/6">
        <button class="btn btn-secondary">Split</button>
    </a>
    
</p>

<img class="quiz-select" src=<%=choice.title%>>
<br>
<img src=<%=choice.map%>>

<%- include("footer") -%>