<%- include("header") -%>

<h1 id="title">Valorant Maps</h1>

<p>
    <a href="/val-maps/0">
        <button class="btn btn-secondary quiz-select">Ascent</button>
    </a>
    
    <a href="/val-maps/1">
        <button class="btn btn-secondary quiz-select">Bind</button>
    </a>
    
    <a href="/val-maps/2">
        <button class="btn btn-secondary quiz-select">Breeze</button>
    </a>
    
    <a href="/val-maps/3">
        <button class="btn btn-secondary quiz-select">Fracture</button>
    </a>
    
    <a href="/val-maps/4">
        <button class="btn btn-secondary quiz-select">Haven</button>
    </a>

    <a href="/val-maps/5">
        <button class="btn btn-secondary quiz-select">Icebox</button>
    </a>
    
    <a href="/val-maps/6">
        <button class="btn btn-secondary quiz-select">Split</button>
    </a>
    
</p>

<img src=<%=choice.title%>>
<br>
<img src=<%=choice.map%>>

<%- include("footer") -%>