<%- include("header") -%>

<h1 id="title">Valorant Callout Quiz</h1>

<p>Practice your map callouts! You'll see screenshots of an area and the answer will be hidden until you press the show button.</p>
<p>Choose a map to get started:</p>

<a href="/val-quiz/0">
    <img class="quiz-select" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/240974922_646478159668602_5519304623256507388_n.png?_nc_cat=111&ccb=1-5&_nc_sid=aee45a&_nc_ohc=Smoe0DHkHCIAX8YL9m8&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=5611783a7bdae6398200ee5a60a43288&oe=6168418F">
</a>

<a href="/val-quiz/1">
    <img class="quiz-select" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/241405364_367130481728911_2644136923552139673_n.png?_nc_cat=102&ccb=1-5&_nc_sid=aee45a&_nc_ohc=Shef-KnQHDQAX93AKWr&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=3335ff85892b208cdeeb35c56c5ff1f0&oe=6164FD60">
</a>

<a href="/val-quiz/2">
    <img class="quiz-select" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/241288460_1045654929571801_5136712104603798634_n.png?_nc_cat=101&ccb=1-5&_nc_sid=aee45a&_nc_ohc=W_kBl2DPT7oAX9HHexs&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=b42c2588d89ebdeb89c315597ce8c383&oe=61666F8A">
</a>

<a href="/val-quiz/3">
    <img class="quiz-select" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/241179371_262912935549749_3968757679874501491_n.png?_nc_cat=111&ccb=1-5&_nc_sid=aee45a&_nc_ohc=JjBpKY3qNGgAX9aqPU7&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=5e56eb8d3b974be6829fb4ac7d6d193f&oe=61660EA9">
</a>

<br>

<a href="/val-quiz/4">
    <img class="quiz-select" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/241151308_276452787404557_1236851042004207982_n.png?_nc_cat=107&ccb=1-5&_nc_sid=aee45a&_nc_ohc=l2ZmQTVIJQsAX-vlEmK&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=0ea620f13bfc3710b22662bb1bc80fdb&oe=6164B427">
</a>

<a href="/val-quiz/5">
    <img class="quiz-select" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/241071550_3044051275874133_1327682768696367343_n.png?_nc_cat=106&ccb=1-5&_nc_sid=aee45a&_nc_ohc=r2qM-Av9BTwAX_F64Rx&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=3625c45aa5c55e4d2247e3daa206b398&oe=61675A23">
</a>

<a href="/val-quiz/6">
    <img class="quiz-select" src="https://scontent.xx.fbcdn.net/v/t1.15752-9/240916001_569322444260527_8306931118365165491_n.png?_nc_cat=101&ccb=1-5&_nc_sid=aee45a&_nc_ohc=8FoGbez592YAX-F2I_K&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=a65261ca7c75a80d9efbefa7ecc68a64&oe=61685AC0">
</a>


<%- include("footer") -%>