<%- include("header") -%>

<h1 id="title">Valorant Callout Quiz</h1>

<p>Practice your map callouts! You'll see screenshots of an area and the answer will be hidden until you press the show button.</p>
<p>Choose a map to get started:</p>

<a href="/val-quiz/0">
    <img class="quiz-select" src="https://raw.githubusercontent.com/rlemon17/gamehub/main/public/photos/ascent.png">
</a>

<a href="/val-quiz/1">
    <img class="quiz-select" src="https://raw.githubusercontent.com/rlemon17/gamehub/main/public/photos/bind.png">
</a>

<a href="/val-quiz/2">
    <img class="quiz-select" src="https://raw.githubusercontent.com/rlemon17/gamehub/main/public/photos/breeze.png">
</a>

<a href="/val-quiz/3">
    <img class="quiz-select" src="https://raw.githubusercontent.com/rlemon17/gamehub/main/public/photos/fracture.png">
</a>

<br>

<a href="/val-quiz/4">
    <img class="quiz-select" src="https://raw.githubusercontent.com/rlemon17/gamehub/main/public/photos/haven.png">
</a>

<a href="/val-quiz/5">
    <img class="quiz-select" src="https://raw.githubusercontent.com/rlemon17/gamehub/main/public/photos/icebox.png">
</a>

<a href="/val-quiz/6">
    <img class="quiz-select" src="https://raw.githubusercontent.com/rlemon17/gamehub/main/public/photos/split.png">
</a>


<%- include("footer") -%>